---
import { getCollection } from "astro:content"
import ExperienceCard from "./ExperienceCard.astro"
const experience = await getCollection("experience")
---

<div class="carousel">
  <div class="carousel-viewport-experience ">
    <p class="carousel-title">Experiencia Laboral</p>
    <div class="content-object">
      <div class="track carousel-track-horizontal" id="exp-track">
        {experience.map(exp => (
          <div class="carousel-slide">
            <ExperienceCard
              company={exp.data.company}
              role={exp.data.role}
              description={exp.data.description}
              date={exp.data.date}
              logo={exp.data.logo}
            />
          </div>
        ))}
      </div>
    </div>
  </div>
  <div class="dots" id="exp-dots">
        {experience.map((_, i) => (
          <span class={`dot ${i === 0 ? 'active' : ''}`} data-index={i}></span>
        ))}
      </div>
</div>

<script>
  const track = document.getElementById('exp-track');
  const dots = document.querySelectorAll('#exp-dots .dot');

  dots.forEach(dot => {
    dot.addEventListener('click', () => {
      const index = parseInt(dot.getAttribute('data-index') || "0");
      if (track) track.style.transform = `translateX(-${index * 100}%)`;
      
      dots.forEach(d => d.classList.remove('active'));
      dot.classList.add('active');
    });
  });
</script>

<style>
.carousel {
  width: 100%;
  max-width: clamp(280px, 90vw, 350px);
  position: relative;
  margin: 0 auto;
}

.track {
  display: flex;
}

.carousel-title {
  color: #fff;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: clamp(40px, 8vw, 60px);
  padding-bottom: clamp(12px, 3vw, 20px);
  text-align: center;
  font-size: clamp(14px, 4vw, 18px);
}

@media (min-width: 640px) {
  .carousel {
    max-width: clamp(300px, 85vw, 350px);
  }
}

@media (min-width: 1024px) {
  .carousel {
    max-width: 350px;
  }
}
</style>